// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.user-app {
  display: flex;
  min-height: 100vh;
  z-index: 2;

  &_sidebar {
    width: 14rem;
    padding: 2rem;
    height: max-content;
    background-color: $sidebar_bg;
    // box-shadow: 3px 0px 15px -2px rgba(0,0,0,0.54);
    // -webkit-box-shadow: 3px 0px 15px -2px rgba(0,0,0,0.54);
    // -moz-box-shadow: 3px 0px 15px -2px rgba(0,0,0,0.54);
    z-index: 9;

    &-avatar {
      width: 14rem;
      border-radius: 30%;
      margin: 1rem auto;
    }

    &-fullname {
      font-family: 'Montserrat';
      font-size: 1.5rem;
      font-weight: 500;
      color: white;
      text-align: center;
      margin-top: .5rem;
      margin-bottom: 0;
    }

    &-accountType {
      font-family: inherit;
      font-size: 1rem;
      font-weight: lighter;
      color: $sidebar_secondary;
      text-align: center;
      margin-top: .5rem;
      margin-bottom: 2rem;
    }

    &-updateProfile {
      font-size: 1.2rem;
      color: white;
      padding: .5rem 1rem;
      background-color: transparent;
      border-radius: 10rem;
      border: 2px solid $sidebar_secondary;
      display: block;
      margin: 0 auto;
      margin-bottom: 7rem;

      &:focus, &:hover, &:active {
        background-color: $sidebar_secondary;
        color: black;
        cursor: pointer;
        border-color: $sidebar_secondary;
        outline: none;
      }
    }

    &-nav {
      display: block;
      text-decoration: none;
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 8rem;
        text-align: center;
        cursor: pointer;

        &:focus, &:hover, &:active {
          .sidebar-icon, h4 {
            color: $sidebar_secondary
          }
        }

        .sidebar-icon {
          font-size: 3.5rem;
          color: white;
        }

        h4 {
          font-size: 1.25rem;
          color: white;
        }
      }
    }
  }

  .daily-message {
    position: fixed;
    top: 50%;
    left: calc(50% - 420px);
    transform: translate(0%, -50%);
    text-align: center;
    overflow-y: hidden;

    h2 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  .views {
    width: calc(100% - 18rem);
    height: 100vh;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 18rem;
    background-color: $user-app_body;
  }
}
