// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.user-app {
  display: flex;
  min-height: 100vh;
  z-index: 2;
  position: relative;

  &_sidebar {
    width: 15rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    height: 100vh;
    background-color: $sidebar_bg;
    // box-shadow: 3px 0px 15px -2px rgba(0,0,0,0.54);
    // -webkit-box-shadow: 3px 0px 15px -2px rgba(0,0,0,0.54);
    // -moz-box-shadow: 3px 0px 15px -2px rgba(0,0,0,0.54);
    z-index: 9;
    display: flex;
    flex-direction: column;

    &-avatar {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 50%;
      margin: 6rem auto 1rem auto;
    }

    &-fullname {
      font-family: 'Montserrat';
      font-size: 1.4rem;
      font-weight: 600;
      color: $sidebar_icon;
      text-align: center;
      margin-top: .5rem;
      margin-bottom: 0;
    }

    &-accountType {
      font-family: inherit;
      font-size: 1.1rem;
      font-weight: lighter;
      color: $sidebar_secondary;
      text-align: center;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }

    &-updateProfile {
      font-size: 1rem;
      color: white;
      padding: .5rem 1rem;
      background-color: $btn-default;
      border-radius: .5rem;
      outline: none;
      border: none;
      display: block;
      margin: 0 auto;
      margin-bottom: 0rem;
      transition: .3s;

      &.active {
        background-color: $sidebar_secondary;
        color: white;
      }

      &:focus, &:hover, &:active {
        background-color: $sidebar_secondary;
        color: $sidebar_bg;
        cursor: pointer;
        border-color: $sidebar_secondary;
        outline: none;
      }
    }

    &-nav {
      text-decoration: none;
      list-style-type: none;
      padding: 0;
      margin: 9vh 0;
      display: flex;
      flex-direction: column;
      width: 100%;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 0rem;
        padding: 1.5vh 0;
        text-align: center;
        cursor: pointer;
        transition: .3s;

        &.active {
          background-color: $app-background;
        }

        &:focus, &:hover, &:active {
          background-color: $app-background;
          // border-right: 1px solid $border-default;
        }

        .sidebar-icon {
          font-size: 3rem;
          color: $sidebar_icon;
          line-height: 100%;
        }

        h4 {
          font-family: 'Open Sans';
          font-size: 1rem;
          font-weight: 400;
          margin: .5rem;
          color: $sidebar_icon;
        }
      }
    }

    .signout-btn {
      margin-bottom: 4rem;
    }
  }

  .daily-message {
    position: fixed;
    top: 40%;
    left: calc(50% - 500px);
    transform: translate(0%, -50%);
    text-align: center;
    overflow-y: hidden;

    h2 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  &_content {
    position: absolute;
    top: 0;
    left: 15rem;
    width: calc(100% - 15rem);
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  .greeting {
    background-color: $mute-yellow;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 80%;
    height: max-content;
    margin-top: 4rem;
    position: relative;

    &__text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 3rem;
      margin-top: 3rem;
      font-size: 2rem;
      h2 {
        margin-bottom: 0;
        margin-block-start: 0;
      }
      &__name {
        padding: .5rem;
        margin: 0;
        margin-left: 1rem;
        background-color: $btn-default;
        color: $app-background;
      }
    }
    &__image {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 50%;
      right: 5rem;
      transform: translate(0, -50%);
      img {
        object-fit: contain;
        width: 50%;
      }

    }
    &__quote {
      margin-top: 0;
      margin-left: 3rem;
      margin-bottom: 3rem;
      max-width: 36rem;
      text-align: center;
    }
  }

  .nav {
    list-style-type: none;
    padding: 0;
    width: max-content;
    position: absolute;
    right: 4rem;
    top: 3.75rem;
    color: $secondary;
    display: flex;
    z-index: 5;

    .home-link {
      position: relative;
      right: 2rem;
      bottom: 2rem;
    }

    .link {
      display: flex;
      align-items:flex-end;
    }

    li {
      font-family: 'Open Sans",sans-serif';
      font-size: .75rem;
      text-decoration: none;
      padding: 0rem .25rem;
      margin: .5rem .5rem;
      color: $button-secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .icon {
        font-size: 1.25rem;
        color: white;
        padding-right: 1.5rem;
        margin-left: .5rem;
        position: relative;
        top: .2rem;
        color: $button-secondary;
      }
      .accountIcon {
        margin-right: -.125rem;
      }
      .signoutIcon {
        margin-right: -.25rem;
      }

      .nav-icon {
        font-size: 1.5rem;
      }
      .back {
        font-size: 2.5rem;
      }
      #signout {
        padding-top: .5rem;
      }
      &:hover {
        color: $button-tri;
      }

    }
  }

  .views {
    width: 100%;
    // min-height: calc(100vh - 3rem);
    height: max-content;
    padding-bottom: 3rem;
    // position: absolute;
    // top: 0;
    // left: 18rem;
    background-color: $app-background;
    // background-image: url('../../assets/devs_bg.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    .icon {
      font-size: 1.5rem;
      position: relative;
      top: 2.75rem;
      left: 3rem;
    }
    .title {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 6rem;
      margin-left: 6rem;
    }

    .view-icon {
      position: absolute;
      top: -4rem;
      left: 12%;
      z-index: 2;
      font-size: 5rem;
      opacity: .8;
      color: $btn-default;
      padding: 1.5rem;
      border-radius: 50%;
    }
  }
}


@media only screen and (max-height: 1200px) {
  .user-app {
    &_sidebar {
      &-avatar {
        margin-top: 3rem;
      }
      &-nav {
        margin: 6vh 0;
      }
    }
  }
}
