// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

  .signin {
    margin: 0 auto;
    height: 1080px;
    background-image: url('../../assets/devs_bg.png');
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_error-msg {
      position: absolute;
      width: 70%;
      margin: 0 auto;
      transform: translateX(22%);
      padding: 1rem;
    }
    .user_icon {
      font-size: 5rem;
      display: block;
      margin: 0 auto;
      z-index: 10;
      position: relative;
      top: 6rem;
      // border: 2px solid white;
      border-radius: 50%;
      background-color: white;
    }
    &_form {
      width: 28rem;
      height: 200px;
      // background-color: white;
      display: flex;
      margin: 0 auto;
      margin-top: 4rem;
      flex-direction: column;
      justify-content: center;
      color: black;
      font-weight: bold;
      text-transform: capitalize;
      padding: 8rem 2rem;

      input {
        padding: .5rem;
        padding-left: 4rem;
        margin: 1rem 0;
        font-size: 1.125rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $form_border;
        background-color: transparent;

        &:focus {
          border: none;
          outline: none;
          border-bottom: 1px solid $secondary;
        }
      }

      .login_icons {
        font-size: 1.5rem;
        color: $light-grey;
        position: relative;
        top: 2.75rem;
        left: 1rem;
      }

      p {
        font-size: .825rem;
        font-family: 'Arial';
        color:black;
        position: relative;
        left: 20rem;
      }

      button {
        font-size: 1.5rem;
        padding: .75rem;
        margin-top: 3rem;
        color: white;
        background-color: $button-secondary;
        border: none;
        box-shadow: 2px 4px 8px 1px rgba(199, 193, 193, 0.8);
        cursor: pointer;
        &:focus {
          border: none;
          outline: none;
        }

        &:hover {
          background-color: lighten($button-secondary, 10%);
        }
      }
    }
    #or, .link {
      text-align: center;
    }
    .link h5 {
      font-family: 'Montserrat';
      font-size: 1.25rem;
    }
  }
