// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.breadcrumbs {
  margin-left: 14rem;
  z-index: 1;
  position: relative;
  h4 {
    display: inline;
    padding: 0 .75rem;
    .crumb  {
      text-decoration: none;
      text-transform: capitalize;
      font-size: .8rem;
      color: $light-grey;
    }
    span {
      padding-left: 1rem;
      font-size: .75rem;
      position: relative;
      bottom: 1px;
    }
  }
}
