// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.connection-card-carousel {
  display: flex;
  justify-content: center;
  align-items: center;

  .connections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5rem 0;

    // .movingRight {
    //   transition: 1s;
    //   transform: translateX(-10px);
    // }
  }

  .arrow-icon {
    font-size: 2rem;
    color: black;
    margin: 0 1rem;
    cursor: pointer;

    &:hover {
      color: lighten(black, 40%);
      transition: .3s;
    }
  }

}
