// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
@import '../../scss/variables.scss';

.dropdown {
  position: relative;
  font-family: Arial;
  padding: 1rem;
  width: 200px;
  font-family: 'Arial';
  font-size: 1.25rem;
  background-color: white;
  border: 2px solid #ddd8d8;
  margin: 0 1rem;

  /* Style the arrow inside the select element: */
  &:after {
    position: absolute;
    content: "";
    // top: 14px;
    // right: 10px;
    // width: 0;
    // height: 0;
    // border: 6px solid transparent;
    // border-color: rgb(54, 52, 52) transparent transparent transparent;
    width: .5rem;
    height: .5rem;
    border-right: 2px solid rgb(167, 163, 163);
    border-bottom: 2px solid rgb(175, 172, 172);
    transform: rotate(45deg);
    top: 10px;
    right: 1rem;

  }

  select {
    font-family: 'Arial';
    font-size: 1rem;
    font-weight: 700;
    color: #867f7f;
    border: none;
    position: absolute;
    width: 200px;
    line-height: 2rem;
    appearance: none;
    background-color: transparent;
    pointer-events: none;
    top: 2px;

  }

  &_options {
    position: relative;
    // left: 26.25rem;
    left: 1rem;
    background-color: white;
    border: 2px solid rgb(223, 218, 218);
    width: 232px;
    z-index: 10;
    ul {
      width: 232px;
      margin: 0;
      padding-left: 0;
      li {
        list-style-type: none;
        font-family: 'Arial';
        font-size: 1rem;
        padding: 1rem 1rem;
        border-bottom: 1px solid #635d5d;
        cursor: pointer;

        &:hover {
          background-color: $focus;
          color: white;
        }

      }
      .selected {
        background-color: $focus;
        color: white;
      }
    }
  }
}


.selected {
  background-color: $focus;
  color: white;
  padding: 1rem;
  border-color: $focus;
  &:after {
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  select {
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
}
