// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.user-tasks {
  .user-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    width: 85%;
    margin-left: 7rem;
    background-color: $devs-page-section-bg;
    .tasks-collapsible_header {
      background-color: $btn-dark;
      padding: .5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      position: relative;
      cursor: pointer;

      &_left {
        display: flex;
        justify-content: flex-start;
        margin-left: 1rem;
      }

      .icon {
        font-size: 1.5rem;
        margin-right: 1rem;
      }

      .ellipse-icon {
        cursor: pointer;
        transition: .3s;
        &:hover {
          color: $button-secondary;
        }
      }

      h2 {
        font-size: 1.25rem;
        font-weight: 700;
        color: white;
        margin: 0;
      }
    }

    &_body {
      .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 3rem;
        margin: 1rem 2rem;
        background-color: white;
        border: 1px solid lighgrey;
        border-radius: 1rem;

        &:first-of-type {
          margin-top: 2rem;
        }
        &:last-of-type {
          margin-bottom: 2rem;
        }

        &_left {
          .check {
            font-size: 1.5rem;
            padding-right: 2rem;
            color: lightgrey;
          }
          .isChecked {
            color: #149D14;
          }
          .task-description {
            display: inline;
            font-family: 'Open Sans';
            font-size: 1.125rem;
            font-weight: 500;
          }
        }
        .actions {
          .trash {
            font-size: 1.25rem;
          }
          button {
            font-family: 'Open Sans';
            font-size: 1rem;
            padding: .5rem;
            background-color: green;
            color: white;
            border: none;
            outline: none;
            border-radius: .5rem;
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}
