// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED


  .main {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dev-profiles {
    margin: 4rem  auto;
  }
  #pagination {
    display: flex;
    justify-content: center;
  }
