// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.page-content {
  background-color: transparent;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .home-banner {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr auto;
    column-gap: 12rem;
    align-items: center;
    margin-bottom: 0rem;
    padding-left: 9rem;
    padding-right: 7rem;
    background-color: white;
    z-index: 10;
    .col-1 {
      margin-left: 2.5rem;
      h1 {
        font: 700 2.125rem "Montserrat";
        color: $primary;
        line-height: 1.5rem;
      }
      h4 {
        font: 1.125rem "Montserrat";
        line-height: 0.5rem;
      }
      button {
        background-color: $button-primary;
        padding: 1rem 4rem 0.75rem 4rem;
        font-size: 1.25rem;
        border: none;
        float: left;
        margin-top: 0rem;
        .link {
          color: white;
        }

        &:hover {
          background-color: darken($button-primary, 10%);
        }
      }
    }
    .col-2 {
      margin-right: 2rem;
      img {
        width: 40rem;
      }
    }
  }

  .background-overlay  {
    &_pic {
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: .95;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &_color {
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
      z-index: 0;
      background-color: lighten($devs-page-section-bg, 5) ;
    }
  }

  .filter {
    z-index: 3;
  }
  .dev-profiles {
    z-index: 3;
    margin: 0 auto;
    margin-bottom: 4rem;
    .profiles {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 10rem;
      
      .loading-users {
        font-size: 2.5rem;
      }

      .no-users {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          margin: 0 1rem;
          font-size: 2rem;
        }
        .icon {
          margin: 0 1rem;
          font-size: 2.5rem;
        }
      }
    }
  }
  #pagination {
    z-index: 3;
    display: flex;
    justify-content: center;
  }

}