// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

  .user-options-dropdown {
    ul {
      list-style-type: none;
      padding: 0;
      width: 10rem;
      background-color: $secondary-darker;
      position: absolute;
      right: 1.5rem;
      top: 3.75rem;
      &:before {
        display: block;
        content: '';
        transform: rotate(-45deg);
        width: 20px;
        height: 20px;
        background-color: $secondary-darker;
        margin: 0 auto;
        position: relative;
        bottom: .5rem;
      }
      .link {
        font: 400 1rem 'Montserrat';
        color: white;
      }
      li {
        text-decoration: none;
        padding: .5rem 0;
        border-top: .125rem solid white;

        &:hover {
          background-color: $secondary;
        }
        .icon {
          font-size: 1.25rem;
          color: white;
          padding-right: 1.5rem;
          margin-left: .5rem;
          position: relative;
          top: .2rem;
        }
        .accountIcon {
          margin-right: -.125rem;
        }
        .signoutIcon {
          margin-right: -.25rem;
        }
      }
    }
  }
