/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-step__title  {
  font-size: 1.25rem;
  font-weight: bold;
}
.el-step__head.is-wait {
  color: #C0C4CC !important;
}
// step status processing styles
.el-step__title.is-process  {
  color: $secondary;
}
.el-step__icon-inner {
  color: $secondary;
  border-color: $secondary;
}
.el-step__head.is-process {
  border-color: $secondary;
}

// step status on success styles
.el-step__title.is-success {
  color: $secondary;
}
.el-step__head.is-success {
  border-color: $secondary;
}
.el-step__icon-inner.is-status {
   color: $secondary;
   border-color: $secondary;
}
.el-step__line {
  color: $secondary;
}


// alert toasts
.el-alert__title {
  font-size: 1.25rem;
}
.el-alert__closebtn {
  font-size: 2rem;
}

// create-account form3 for developers
.el-textarea, .el-textarea__inner { height: 10rem; resize: none;}


// pagination
.el-pagination.is-background .el-pager li {
  width: 2.125rem;
  height: 2.125rem;
  font-size: 1rem;
  min-width: 0;
  padding-top: .25rem;
}

.el-pagination.is-background .el-pager li:not(.disabled) {
  background-color: $pag-bg;
  color: #FFFFFF;
  border-radius: 10rem;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $sidebar_icon_active;
  color: #FFFFFF;
  border-radius: 10rem;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  background-color: $sidebar_icon_active;
  color: #FFFFFF;
}

.el-pagination.is-background button.btn-prev,
.el-pagination.is-background button.btn-next {
  background-color: $sidebar_icon_active;
  color: white;
  margin-top: .25rem;
  margin-right: 1rem;
  margin-left: 1rem;

  &:hover {
    background-color: $sidebar_bg;
  }

  .el-icon {
    font-size: 1rem;
    padding-top: .125rem;
  }
}
.el-pagination.is-background button.btn-prev:disabled,
.el-pagination.is-background button.btn-next:disabled {
  color: white;
  margin-top: .25rem;
}

// Dropdown
.el-select {
  width: 100%;

  &__tags {
    cursor: pointer;
  }
}

.el-select-dropdown .el-scrollbar .el-select-dropdown__wrap .el-scrollbar__view
.el-select-dropdown__item {
  &.selected {
    padding: 0 20px !important;
    &:after {
      border-right: none !important;
    }
  }
}
