// User-App Variables
// Pre redesign (4/7/2021)
$sidebar_bg: #6B8BA4;
$sidebar_secondary: #B2D5F1;
$sidebar_icon_active: #4B687E;
$user-app_body: #ffffff;

$subtext: #8E9295;
$text: #545C64;
$btn: #6BA487;
$input-border: #707070;

$element-border: rgb(220,223, 230);
$element-border-hover: #C0C4CC;
$element-border-focus: #409EFF;

$pag-bg: #9fb2bd;

$home-page-section-bg: #E7ECF1;
$devs-page-section-bg: #EBF0F5;
$devs-page-grey: #A9AFB5;

// Post redesign (4/7/2021)
$app-background: #ffffff;
$content-background: #EBF0F5;

$sidebar_bg: #F5F7F9;
$sidebar_icon: #000000;
$sidebar_active: #ffffff;

$mute-yellow: #fef3a4;
$mute-red: #f66c6c;
$mute-sky-blue: #79b7fe;
$mute-cyan: #00b6e4;
$mute-green: #6BA487;

$border-default: #A9AFB5;
$btn-default: #4B687E;
$btn-light: #6B8BA4;
$btn-grey: #A9AFB5;
$btn-blue: #005399;


