// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
$primary: #294738;

$secondary: #6B8BA4;
$secondary-darker: darken(#6B8BA4, 20%);

$button-primary:  #3d7559;
$button-primary_hover: lighten(#3d7559, 10%);
$button-secondary: #2C3E50;
$button-tri: #4B687E;
$button-signup: #6BA487;

$light-grey: rgb(139, 134, 134);
// $secondary: darken(#6B8BA4, 20%);;
// $secondary-darker:#6B8BA4;
$focus: rgb(168, 210, 245);
$form_border: #cecaca;

$message_bg: rgb(240, 244, 252);
$border: rgba(228, 227, 227, 0.808);

//Toast Variables
$toast-success: #41d888;
$toast-success-light: #9CDEBB;

$toast-error: #f94415;
$toast-error-light: #F69B84;

$toast-info: #0087d7;
$toast-info-light: #6DBEEE;

$toast-warning: #ffbc00;
$toast-warning-light: #FFE18D;

$account-types-bg: #A9AFB5;
$account-type-bg-active: #4B687E;
