// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
$primary: #294738;

$secondary: #6B8BA4;
$secondary-darker: darken(#6B8BA4, 20%);

$button-primary:  #3d7559;

$light-grey: rgb(139, 134, 134);
// $secondary: darken(#6B8BA4, 20%);;
// $secondary-darker:#6B8BA4;
$focus: rgb(168, 210, 245);
