// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
$primary: #294738;

$secondary: #6B8BA4;
$secondary-darker: darken(#6B8BA4, 20%);

$button-primary:  #3d7559;
$button-primary_hover: lighten(#3d7559, 10%);
$button-secondary: #2C3E50;

$light-grey: rgb(139, 134, 134);
// $secondary: darken(#6B8BA4, 20%);;
// $secondary-darker:#6B8BA4;
$focus: rgb(168, 210, 245);
$form_border: #cecaca;

$message_bg: rgb(242, 239, 250);
$border: rgba(228, 227, 227, 0.808);

// User-App Variables
$sidebar_bg: #6B8BA4;
$sidebar_secondary: #B2D5F1;
$sidebar_icon_active: #4B687E;
$user-app_body: #EBF0F5;
