// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
.user-profile {
  position: relative;

  .profile-content {
    margin: 0 auto;
    margin-top: 3rem;
    width: 80%;
    &-container {
      margin: 6rem auto;
      width: 80%;
      background-color: $content-background;
      border: 1px solid $border-default;
      padding: 1rem 0;
      border-radius: .3rem;
    }

    .account-type {
      display: flex;
      justify-content: center;
      align-items: center;
      &_buttons {
        padding: .75rem 2rem;
        margin: 0 .25rem;
        color: white;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1rem;
        background-color: $btn-light;
        transition: .3s;

        &:hover {
          background-color: $btn-default;
          cursor: pointer;
        }
        &.disabled {
          background-color: $btn-grey;
          &:hover {
            cursor: default;
            background-color: $btn-grey;
          }
        }
        &.selected {
          background-color: $btn-default;
          &:hover {
            cursor: default;
            background-color: $btn-default;
          }
        }
      }
    }

    h4 {
      margin: .25rem 0;
    }
    
    .interested-categories, .roles, .hiring-options {
      margin: 2rem 0;
      .profile-dropdown {
        width: 100%;
      }
    }
    
    .skills {
      margin: 0 0 2rem 0;
      .add-skill {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        margin-top: .25rem;
        width: 100%;
        border-radius: .25rem;
        transition: .3s;
        position: relative;
        height: 40px;
        input {
          height: 100%;
          width: 100%;
          padding: 0 .5rem 0 3rem;
          outline: none;
          border: 1px solid $element-border;
          border-radius: .25rem;
          transition: .3s;
        }
        .icon {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          margin: 0 .5rem;
          height: .5rem;
          width:.5rem;
          background-color: $button-secondary;
          color: white;
          padding: .5rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
      &_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .skill, .no-skills {
          margin-top: 1rem;
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
          background-color: white;
          padding: .5rem 1rem;
          border-radius: .25rem;
          p {
            margin: 0;
            padding: 0;
            margin-right: .5rem;
          }
          .icon {
            cursor: pointer;
            transition: .3s;
            &:hover {
              color: darken($button-secondary, 15);
            }
          }
        }
        .no-skills {
          width: 100%;
          margin-top: 0;
          background-color: transparent;
          color: $button-tri;
        }
      }
    }

    .github-link, .portfolio-link {
      margin: 0 0 4rem 0;
      height: 40px;
      input {
        height: 100%;
        padding: 0 .5rem;
        width: calc(100% - 1rem);
        outline: none;
        border: 1px solid $element-border;
        border-radius: .25rem;
        transition: .3s;
      }
    }

    .bio {
      textarea {
        padding: .5rem;
        width: calc(100% - 1rem);
        outline: none;
        border: 1px solid $element-border;
        border-radius: .25rem;
        resize: vertical;
        transition: .3s;

        &:hover {
          border-color: $element-border-hover;
        }
        &:focus {
          border-color: $element-border-focus;
        }
      }
    }

    .update-btn {
      background-color: $button-tri;
      margin: 2rem 0;
      padding: .5rem 1.25rem;
      border-radius: 50rem;
      font-size: 1rem;
      color: $user-app_body;
      width: max-content;
      cursor: pointer;
      margin-left: auto;
    }
  }
}
