// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
.user-profile {
  position: relative;

  .profile-content {
    margin: 0 auto;
    margin-top: 3rem;
    width: 80%;
    &-container {
      margin: 0 auto;
      width: 80%;
      background-color: $content-background;
      border: 1px solid $border-default;
      padding: 1rem 0;
      border-radius: .3rem;
    }

    .account-type {
      display: flex;
      justify-content: center;
      align-items: center;
      &_buttons {
        padding: .75rem 2rem;
        margin: 0 .25rem;
        color: white;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1rem;
        background-color: $btn-light;
        transition: .3s;

        &:hover {
          background-color: $btn-default;
          cursor: pointer;
        }
        &.disabled {
          background-color: $btn-grey;
          &:hover {
            cursor: default;
            background-color: $btn-grey;
          }
        }
        &.selected {
          background-color: $btn-default;
          &:hover {
            cursor: default;
            background-color: $btn-default;
          }
        }
      }
    }

    h4 {
      margin: .25rem 0;
    }

    .interested-categories, .roles, .hiring-options {
      margin: 2rem 0;
      .profile-dropdown {
        width: 100%;
      }
    }

    .bio {
      textarea {
        padding: .5rem;
        width: calc(100% - 1rem);
        outline: none;
        border: 1px solid $element-border;
        border-radius: .25rem;
        resize: vertical;
        transition: .3s;

        &:hover {
          border-color: $element-border-hover;
        }
        &:focus {
          border-color: $element-border-focus;
        }
      }
    }

    .update-btn {
      background-color: $button-tri;
      margin: 2rem 0;
      padding: .5rem 1.25rem;
      border-radius: 50rem;
      font-size: 1rem;
      color: $user-app_body;
      width: max-content;
      cursor: pointer;
      margin-left: auto;
    }
  }
}
