// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.main {
    // max-width: 1780px;
    background-color: white;
  
    .home-banner {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 3fr auto;
      column-gap: 12rem;
      align-items: center;
      margin-bottom: 0rem;
      margin-left: 9rem;
      margin-right: 7rem;
      background-color: white;
      .col-1 {
        margin-left: 2.5rem;
        h1 {
          font: 700 2.125rem "Montserrat";
          color: $primary;
          line-height: 1.5rem;
        }
        h4 {
          font: 1.125rem "Montserrat";
          line-height: 0.5rem;
        }
        button {
          background-color: $button-primary;
          padding: 1rem 4rem 0.75rem 4rem;
          font-size: 1.25rem;
          border: none;
          float: left;
          margin-top: 0rem;
          .link {
            color: white;
          }
  
          &:hover {
            background-color: darken($button-primary, 10%);
          }
        }
      }
      .col-2 {
        margin-right: 2rem;
        img {
          width: 40rem;
        }
      }
    }
  
    .choose-account-type {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0;
      // max-width: 22rem;
      margin: 0 auto;
  
      button {
        background-color: white;
        color: black;
        font-weight: bold;
        border: 1px solid lightgrey;
        border-radius: 2rem 0 0 2rem;
        margin-top: 0;
        margin-right: 0;
        width: 70%;
  
        &:hover {
          color:#E34C4B;
        }
  
        &:hover.active {
          background-color: #E34C4B;
          color: white;
        }
      }
  
      button:nth-of-type(2) {
        border-width: 1px 1px 1px 0;
        border-radius: 0 2rem 2rem 0;
        margin-left: 0;
      }
  
      .active {
        background-color: #E34C4B;
        color: white;
      }
  
    }
  
    .getting-started {
      margin: 5rem 0;
      h1 {
        font-size: 2.5rem;
        color: #514e4e;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 7rem;
      }
      h2 {
        font-size: 2.5rem;
        color: #514e4e;
        text-decoration: underline;
        text-align: center;
      }
      &_steps {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr 4fr 4fr;
        gap: 2rem 4rem;
        align-items: end;
        margin: 0 4rem;
  
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        h2 {
          font-family: "Montserrat";
          font-size: 2rem;
          text-decoration: none;
          color: black;
          text-align: center;
        }
        p {
          width: 30rem;
          font-family: "Segoe UI";
          font-size: 1.25rem;
          line-height: 2rem;
          text-align: center;
        }
        img {
          width: 400px;
        }
        .link {
          color: white;
          button {
            display: block;
            background-color: $button-secondary;
            color: white;
            font: 1.25rem "Montserrat";
            text-transform: uppercase;
            margin-top: 2rem;
            padding: 1rem 2rem;
            border: none;
            border-radius: 1rem;
            margin: 2rem auto;
            cursor: pointer;
  
            &:hover {
              background-color: lighten($button-secondary, 20%);
            }
          }
        }
      }
    }
  
    .join-devs {
      background-color: $home-page-section-bg;
      display: grid;
      grid-template-columns: 4fr 5fr;
      align-items: center;
      padding: 4rem;
      div {
        margin: 0 4rem;
      }
      div:nth-child(2) {
        margin-right: 9rem;
      }
      h2 {
        font-family: "Montserrat";
        font-size: 2rem;
        text-align: center;
        color: black;
      }
      p {
        font-family: "Segoe UI";
        font-size: 1.25rem;
        line-height: 2rem;
        text-align: center;
        color: $text;
      }
      .link {
        color: white;
        button {
          display: block;
          background-color: $button-secondary;
          color: white;
          font: 1.25rem "Montserrat";
          text-transform: uppercase;
          margin-top: 2rem;
          padding: 1rem 2rem;
          border: none;
          border-radius: 2rem;
          margin: 2rem auto;
          cursor: pointer;
  
          &:hover {
            background-color: lighten($button-secondary, 20%);
          }
        }
      }
    }
  
    .start-learning {
      display: grid;
      grid-template-columns: 4fr 3fr;
      align-items: center;
      padding: 4rem;
      div {
        margin: 0 4rem;
      }
      div:nth-child(2) {
        margin-right: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2 {
        font-family: "Montserrat";
        font-size: 2rem;
        line-height: 3rem;
        text-align: left;
        max-width: 40rem;
        color: black;
      }
      p {
        font-family: "Segoe UI";
        font-size: 1.25rem;
        line-height: 2rem;
        text-align: left;
        color: $text;
      }
      .link {
        color: white;
        button {
          display: block;
          background-color: $button-secondary;
          color: white;
          font: 1.25rem "Montserrat";
          text-transform: uppercase;
          margin-top: 2rem;
          padding: 1rem 2rem;
          border: none;
          border-radius: 1rem;
          margin: 1rem auto;
          float: left;
          cursor: pointer;
  
          &:hover {
            background-color: lighten($button-secondary, 20%);
          }
        }
      }
    }
  
    // remove after inserting <router-link> for all buttons
    button {
      display: block;
      background-color: #6b8ba4;
      color: white;
      font: 1.25rem "Montserrat";
      text-transform: uppercase;
      margin-top: 2rem;
      padding: 1rem 2rem;
      border: none;
      margin: 2rem auto;
      cursor: pointer;
    }
  }
  
  // current header issues below 1652
  @media (min-width: 1652px) {
    .main {
      justify-content: center;
      margin: 0 auto;
    }
  }  