.project-info-collapsable {
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &:nth-child(odd) {
    .project-info-collapsable__header {
      background-color: $mute-sky-blue;
    }
    .project-info-collapsable__content {
      .project-general-info__information {
        .info .icon {
          color: $mute-sky-blue;
        }
      }
    }
  }
  &:nth-child(even) {
    .project-info-collapsable__header {
      background-color: $mute-red;
    }
    .project-info-collapsable__content {
      .project-general-info__information {
        .info .icon {
          color: $mute-red;
        }
      }
    }
  }

  &__header {
    padding: .5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    cursor: pointer;

    h2 {
      margin: 0;
      font-family: 'Open Sans';
      font-weight: 600;
    }
    .icon {
      position: absolute;
      left: .5rem;
      font-size: 1.75rem;
    }
  }

  &__content {
    width: 100%;
    text-align: center;
  }
}
