.project-info-collapsable {
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &:nth-child(odd) {
    .project-info-collapsable__header {
      background-color: $mute-sky-blue;
    }
    .project-info-collapsable__content {
      &__information {
        .info .icon {
          color: $mute-sky-blue;
        }
      }
    }
  }
  &:nth-child(even) {
    .project-info-collapsable__header {
      background-color: $mute-red;
    }
    .project-info-collapsable__content {
      &__information {
        .info .icon {
          color: $mute-red;
        }
      }
    }
  }

  &__header {
    padding: .5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    cursor: pointer;

    h2 {
      margin: 0;
      font-family: 'Open Sans';
      font-weight: 600;
    }
    .icon {
      position: absolute;
      left: .5rem;
      font-size: 1.75rem;
    }
  }

  &__content {
    width: 100%;
    text-align: center;
    h2 {
      font-family: 'Open Sans';
      font-size: 1.25rem;
      font-weight: 400;
      margin: 1rem 0 .75rem 0;
    }
    .info-total {
      font-weight: bold;
    }
    &__information {
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        margin: 0 .75rem;
        h4 {
          margin: .5rem 0;
        }
        .icon {
          font-size: 1.75rem;
          color: $mute-red;
        }
      }
    }
  }
}
