// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.rate-user-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: white;
  width: 60%;
  padding: 3rem 0;
  max-width: 1280px;
  border-radius: .75rem;

  &_close {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    font-size: 1.25rem;
    transition: .3s;
    color: $btn-default;
    cursor: pointer;
    &:hover {
      color: darken($btn-default, 10)
    }
  }

  &_heading {
    text-align: center;
    font-family: 'Montserrat';
    width: 60%;
    margin: 2rem auto 0 auto;
    &_rate {
      color: $btn-default;
      font-weight: 300;
      font-size: 1rem;
      margin: 0;
    }
    &_name {
      font-weight: 700;
      font-size: 1.5rem;
      margin: 0;
    }

  }

  &_stars {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .star {
      transition: .3s;
      cursor: pointer;

      &-not-filled {
        color: $btn-grey;
        &:hover {
          color: $btn-default;
        }
      }

      &:hover {
        color: $btn-default;
      }

      &-s {
        font-size: 1.5rem;
      }
      &-m {
        font-size: 2rem;
      }
      &-b {
        font-size: 3rem;
      }


    }
  }

  &_buttons {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    button {
      outline: none;
      border: none;
      display: block;
      width: max-content;
      margin: 1rem auto;
      font-family: 'Montserrat';
      font-size: 1.25rem;
      padding: .5rem 1.5rem;
      border-radius: .25rem;
      color: white;
      cursor: pointer;
      transition: .3s;

    }

    .rate-button-send {
      background-color: $btn-default;
      &:hover {
        background-color: darken($btn-default, 10);
      }
    }
    .rate-button-cancel {
      background-color: $btn-grey;
      &:hover {
        background-color: darken($btn-grey, 10);
      }
    }
  }
}
