

.user-modal {
  margin: 0 auto;
  margin-left: 5rem;
  width: calc(100% - 10rem);
  background-color: $user-app_body;
  border: 1px solid $border;
  text-align: center;
  padding: 2.25rem 0;
  position: relative;
  border-radius: 1.5rem;

  &__text {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 22rem;
  }

  &__title {
    margin: .25rem 0;
    h4 {
      font-family: 'Montserrat';
      font-size: 1.5rem;
      margin: 0;
    }
  }

  &__button {
    background-color: $btn;
    width: max-content;
    margin: .25rem auto;
    padding: .5rem 2rem;
    border-radius: 50rem;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $message_bg;

    .icon {
      margin: 0 .25rem;
      font-size: 1rem;
    }

    h4 {
      font-family: 'Montserrat';
      margin: 0 .25rem;
      line-height: 100%;
      font-size: 1rem;
      font-weight: 400;
    }

    &:hover {
      cursor: pointer;
      background-color: $button-primary_hover;
    }
  }

  &__image {
    min-width: 18rem;
    height: 18rem;
    object-fit: contain;
    position: absolute;
    top: -8rem;
    right: 7rem;
    font-size: 1.25rem;
    transition: .3s;

  }

  &__close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.25rem;
    transition: .3s;

    &:hover {
      cursor: pointer;
    }
  }
}
