// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

@import "../../scss/variables";

.profile {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 4fr;
  column-gap: 8rem;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 7rem;
  overflow: hidden;

  .user-profile {
    text-align: center;
    img {
      width: 15rem;
      height: 15rem;
      padding: 10px;
      background: #e4dddd;
      border: 0.125rem solid #dddddd;
    }
    h4 {
      font-family: inherit;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    .btn {
      background-color: $button-primary;
      color: white;
      font-size: 1.125rem;
      padding: 0.5rem 2rem;
      margin-top: 1rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
    }
  }

  .user-info {
    height: 250px;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: minmax(300px, 300px);
    gap: 1rem;

    h3 {
      margin-top: 0;
      text-transform: uppercase;
    }
    .btn {
      background-color: $button-primary;
      color: white;
      font-size: 1.125rem;
      padding: 0.25rem 1rem;
      border-radius: 0.5rem;
      border: none;
      margin-top: 1.5rem;
      cursor: pointer;
    }

    &_heading {
      margin-bottom: 1rem;
      h2, button {
        display: inline;
      }
      h2 {
        margin-right: 2rem;
      }
    }

    &_rating {
      ul {
        padding: 0;
      }
      ul li {
        list-style-type: none;
        display: inline;
      }
    }

    .user-bio {
      grid-column: 1 / 3;
      margin-top: 3rem;
      p {
        font-size: 1.25rem;
        line-height: 2rem;
      }
      &_heading {
        h3, button {
          display: inline;
        }
        h3 {
          margin-right: 2rem;
        }
      }
    }

    .user-portfolio {
      margin-top: 3rem;
      h3 {
        font-size: 1.75rem;
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        text-transform: none;
      }
      img {
        width: 200px;
      }
      &_heading {
        margin-bottom: 2rem;
        h3, button {
          display: inline;
        }
        h3 {
          margin-right: 2rem;
        }
      }
      &_images {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
      }
    }
  }

  button {
    background-color: $button-primary;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    outline: none;
    padding: .5rem;
    position: relative;
    bottom: .125rem;
    cursor: pointer;
  }
}

.messages {
  margin: 0;
  padding: 0;
  display: inline;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .message {
      padding: 1rem;
      background: $message_bg;
      color: black;
      border-bottom: 1px solid $border;

      &-header {
        display: flex;

        .username {
          padding-left: 1rem;
        }

        .date-sent {
          padding-left: 5rem;
        }

        .senderActive {
          color: green;
          position: relative;
          bottom: 1.25rem;
          left: 1rem;
        }
      }

      p {
        margin-top: 0;
        padding-left: 2rem;
      }
    }
  }
}

@media (min-width: 1700px)  {
  .main {
    justify-content: center;
    margin: 0 auto;
  }
}
