

.message-box {
  position: fixed;
  z-index: 10;
  left: 2.5rem;
  bottom: 2.5rem;
  border: none;
  display: flex;
  flex-direction: center;
  justify-content: center;
  min-width: 4rem;
  
  &_icon {
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $btn-grey;
    background-color: white;
    border-radius: 50%;
    font-size: 1.75rem;
    color: $btn-grey;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: $button-secondary;
      border-color: $button-secondary;
    }

    &.animating {
      box-shadow: 0px 0px 10px 10px rgba($toast-info, .5);
      animation: 3s pulse infinite;

      @keyframes pulse {
        from {
          box-shadow: 0 0 0 0 rgba($toast-info, .5);
        }

        to {
          box-shadow: 0 0 2rem 2rem rgba($toast-info, 0);
        }
      }
    }
  }

  &_messages {
    border: 1px solid $btn-grey;
    border-radius: .5rem;
    margin-left: 1rem;
    max-height: 25rem;
    overflow-y: overlay;
    padding: 2rem;
    background-color: white;
    h6 {
      margin: 0;
    }
    &.is-replying {
      padding-right: 3rem;
    }
    &_message {
      margin: .5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $devs-page-section-bg;
      padding: .5rem 1rem;
      border-radius: .5rem;
      &_text {
        min-width: 15rem;
        font-size: 1rem;
        margin-right: 1rem;
        h2, p {
          margin: 0;
        }
        h2 {
          font-size: .85rem;
        }
      }
      &_actions {

        .delete-icon, .reply-icon {
          cursor: pointer;
          margin-left: 1rem;
        }
      }
    }
  }
  &_no-messages {
    width: 70%;
    margin: 0 auto;
    border: 1px solid $btn-grey;
    border-radius: .5rem;
    margin-left: 1rem;
    max-height: 25rem;
    overflow-y: overlay;
    padding: 2rem;
    background-color: white;
    h6 {
      text-align: center;
      font-size: 1rem;
      margin: 0;
    }
  }
  
  .message-box_text_closeBtn {
    color: $btn-grey;
  }

  &_text {
    border-radius: 1rem;
    padding: 2rem;
    background-color: white;
    border: 1px solid $btn-grey;
    &.has-messages {
      padding: 1rem 2rem;
      background-color: $btn-grey;
      .reply-message {
        margin-top: 1rem;
        font-size: 1.5rem;
        h6 {
          margin: 0;
          &:last-child {
            margin: .25rem 0;
            font-weight: 400;
          }
        }

      }
    }
    
    &.is-replying {
      transform: translate(-1.25rem, 0%);
    }
    &_textarea {
      margin-top: 1rem;
      min-height: 11.5rem;
      resize: none;
      font-size: 1.25rem;
      border: none;
      border-radius: .25rem;
      padding: .5rem;
      &:focus {
        outline: none;
      }
    }
    &_sendMsgBtn {
      background-color: rgb(95, 161, 111);
      color: white;
      border: none;
      border-radius: .5rem;
      font-size: 1rem;
      padding: .5rem 1rem;
      display: block;
      margin: 1rem auto 0 auto;
      transition: .3s;
      cursor: pointer;
  
      &:hover {
        border: none;
        background-color:$button-primary_hover;
      }
  
      &:focus {
        border: none;
        outline: none;
      }
    }
    &_closeBtn {
      font-size: 1rem;
      color: white;
      position: absolute;
      right: 1rem;
      top: .75rem;
      cursor: pointer;
    }

    &_has-messages {
      .message-box_text_closeBtn {
        color: white;
      }
    }
  }
}
