

.message-box {
  position: fixed;
  z-index: 10;
  left: 4rem;
  bottom: 2rem;
  width: 18rem;
  height: 18rem;
  background: $primary;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &_textarea {
    height: 11.5rem;
    resize: none;
    font-size: 1.25rem;
    border: none;
    padding: .5rem;
    &:focus {
      outline: none;
    }
  }

  &_sendMsgBtn {
    background-color: rgb(95, 161, 111);
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: .5rem;
    margin-top: 1rem;

    &:hover {
      border: none;
      background-color:$button-primary_hover;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &_closeBtn {
    font-size: 1rem;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1.25rem 0 0;
  }
}
