// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.project-card {
  width: 50vw;
  background-color: white;
  color: black;
  font-family: 'Open Sans';
  padding: 2rem;
  padding-right: 0;
  padding-top: 0;
  display: block;
  margin: 5rem 0;

  .featured {
    width: 5%;
    max-width: 225px;
    min-width: 225px;
    // float: right;
    margin-top: -60px;
    margin-right: 1rem;
  }
  .featured_name {
    padding-top: 0;
  }
  h2 {
    padding-top: 2rem;
    padding-left: .5rem;
  }

  .project-card_info {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
    padding-right: 1rem;

    div {
      display: flex;
      align-items: baseline;

      h3 {
        font-family: 'Open Sans';
        font-size: 1rem;
        font-weight: 700;
      }

      p {
        font-family: 'Open Sans';
        padding: 0 1rem;
        padding-right: 2rem;
      }
    }

    #needed {
      text-decoration: underline;
      text-underline-offset: .125rem;
      margin-bottom: 0;
    }
  }

  .position {
    p {
      padding-left: 0 !important;
    }

    button {
      display: inline-block;
      font-size: .75rem;
      border-radius: .25rem;
      margin-left: .75rem;

      &:focus, &:hover {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: darken($account-type-bg-active, 20%);
        transition: .3s;
      }
    }
  }

  button {
    font-family: 'Open Sans';
    font-size: .875rem;
    font-weight: 700;
    background-color: $account-type-bg-active;
    color: white;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    &:focus, &:hover {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: darken($account-type-bg-active, 20%);
      transition: .3s;
    }
  }

  .learn_more {
    float: right;
    margin-top: -1rem;
    margin-right: 1rem;

  }

}
