// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.project-card {
  width: 50vw;
  background-color: white;
  color: black;
  font-family: 'Open Sans';
  display: block;
  margin: 2rem 0;

  .featured {
    width: 5%;
    max-width: 225px;
    min-width: 225px;
    margin-top: -60px;
    margin-right: 1rem;
    z-index: 9;
  }
  .featured_name {
    padding-top: 0;
  }
  h2 {
    padding-left: .5rem;
  }

  .project-card_info {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
    padding-right: 1rem;

    div {
      display: flex;
      align-items: baseline;

      h3 {
        font-family: 'Open Sans';
        font-size: 1rem;
        font-weight: 700;
      }

      p {
        font-family: 'Open Sans';
        padding: 0 1rem;
        padding-right: 2rem;
      }
    }

    #needed {
      text-decoration: underline;
      text-underline-offset: .125rem;
      margin-bottom: 0;
    }
  }

  .position {
    p {
      padding-left: 0 !important;
    }

    button {
      display: inline-block;
      font-size: .75rem;
      border-radius: .25rem;
      margin-left: .75rem;

      &:focus, &:hover {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: darken($account-type-bg-active, 20%);
        transition: .3s;
      }
    }
  }

  button {
    font-family: 'Open Sans';
    font-size: .875rem;
    font-weight: 700;
    background-color: $account-type-bg-active;
    color: white;
    padding: .5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: .5rem;
    &:focus, &:hover {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: darken($account-type-bg-active, 20%);
      transition: .3s;
    }
  }

  .learn_more {
    float: right;
    margin-top: -1rem;
    margin-right: 1rem;

  }

  // .learn-more {
  //   bottom: 0.75rem;
  //   right: 0.75rem;
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  //   text-decoration: none;
  //   margin: 0;
  //   z-index: 1;
  //   h4 {
  //     margin: 0;
  //     color: black;
  //     font-family: 'Montserrat';
  //     font-weight: 400;
  //     transition: .3s;
  //   }
  //   .arrow {
  //     background-color: black;
  //     color: white;
  //     width: 1.5rem;
  //     height: 1.5rem;
  //     border-radius: 50%;
  //     display: grid;
  //     place-items: center;
  //     color: $secondary;
  //     margin-left: .5rem;
  //     transition: .3s;
  //   }
    
  //   &:hover {
  //     h4 {
  //       color: $message_bg;
  //     }
  //     .arrow {
  //       background-color: $message_bg;
  //       opacity: 1;
  //     }
  //   }
  // }


}
