
.project-collapsible {
  width: calc(100% - 10rem);
  margin: 0 auto;

  .project-collapsible_header {
    background-color: $mute-red;
    padding: .5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    cursor: pointer;

    &_left {
      display: flex;
      justify-content: flex-start;
      margin-left: 1rem;
    }

    .icon {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .ellipse-icon {
      cursor: pointer;
      transition: .3s;
      &:hover {
        color: $button-secondary;
      }
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      color: white;
      margin: 0;
    }
  }

  &_sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    background-color: $devs-page-section-bg;
    padding: 1.5rem;

      > div {
        padding: 0 2rem 2rem 2rem;

        h2 {
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: 1.25rem;
          text-align: center;
        }
      }

      .general-info_section{
        background-color: white;
      }

      .current-tasks_section {
        background-color: white;

        .current-tasks {
          .task {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 1rem 0 0 .25rem;
            h2 {
              font-size: .825rem;
            }
            .task-icon {
              font-size: 2.25rem;
              margin-right: .75rem;
            }
          }
        }

      }

      .members_section {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: white;

        .tofill-heading {
          margin-bottom: 0;
        }
      }

  }

  &:nth-child(even) {
    .project-collapsible_header {
      background-color: $mute-sky-blue;
    }
    .project-collapsible_sections {
      .project-general-info__information {
        .info .icon {
          color: $mute-sky-blue;
        }
      }
    }
  }
}
