// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED

.project {
  &_apply-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($devs-page-grey, .5);
    z-index: 10;
  }
  &-info {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    grid-column-gap: 3rem;
    margin: 7rem 12rem;

    &_left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 12rem;
      .col1 {
        display: flex;
        justify-content: space-between;
        border-bottom: .125rem solid lightgrey;
      }

      .col2 {
        margin-left: 0;
        padding-left: 0;
        margin-top: 1rem;

        & > * {
          display: flex;
          align-items: baseline;

          h3 {
            padding-right: 1rem;
          }
        }

        .options {
          display: flex;
          
          & > * {
            display: flex;
            align-items: baseline;
            padding-right: 7rem;
          }

          &_positions {
            .apply {
              font-family: 'Open Sans';
              font-size: .875rem;
              font-weight: 700;
              background-color: $account-type-bg-active;
              color: white;
              margin: 0 .5rem;
              border: none;
              border-radius: .25rem;
              padding: .5rem 1rem;
      
              &:focus, &:hover {
                cursor: pointer;
                outline: none;
                border: none;
                background-color: darken($account-type-bg-active, 20%);
                transition: .3s;
              }
            }
          }
          
        }
      }

      .col3 {
        display: flex;
        justify-content: center;
        text-align: center;
        color: black;
        margin-top: 1rem;
        .members {
          // margin-right: 11rem;
        }
      }
    }
  }
}


@media (max-width: 1880px) {
  .project-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    justify-content: center;
    // align-items: flex-start;
    max-height: 1200px;
    margin: 4rem 8rem 8rem 8rem;

    &_left {
      display: flex;
      margin-bottom: 4rem;
    }

    &_right {
      display: flex;
      flex-direction: column;
      margin-right: 0;
    }
  }
}