// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
.user-messages {
  &_area {
    display: flex;
    margin-top: 2rem;
    margin-left: 5rem; // remove just styled for testing
    .messages {
      max-height: 70vh;
      max-width: 22rem;
      overflow-y: visible;
      overflow-x: hidden;
    }
    .conversation {
      margin-left: 1rem;
      width: 78%;

      &_area {
        width: 90%;
        margin-bottom: 1rem;
      }
      .write-message {
        width: 85%;
        height: 8rem;
        margin: 0 2rem;
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 3rem;
        border-color: #b8b1b1;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
