// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
.user-messages {
  &_area {
    display: flex;
    margin-top: 2rem;
    margin-left: 5.5rem; // remove just styled for testing
    .messages {
      max-height: 70vh;
      max-width: 22rem;
      overflow-y: visible;
      overflow-x: hidden;
    }
    .conversation {
      margin-left: 1rem;
      width: 78%;

      &_area {
        width: 92%;
        margin-bottom: 0rem;
      }
    }
  }
}
