// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
.user-messages {
  padding-bottom: 9rem;
  
  margin: 0 auto;
  &_area {
    display: flex;
    margin-top: 2rem;
    width: 83.5%;
    padding:  3rem 0 3rem 7rem;

    &-header {
      background-color: $messages-header;
      color: white;
      font-family: 'Open Sans';
      font-size: .75rem;
      padding: .125rem;
      padding-left: 1.5rem;
      border-radius: 1rem 1rem 0 0;
    }
    &-footer {
      background-color: $messages-header;
      color: white;
      font-family: 'Open Sans';
      font-size: .75rem;
      padding: 1.5rem;
      padding-left: 1.5rem;
      border-radius: 0 0 1rem 1rem;
    }
    .messages {
      max-height: 56vh;
      max-width: 22rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .conversation {
      margin-left: 3rem;
      width: 68%;
      
      &_area {
        width: 92%;
        height: 36vh;
        margin-bottom: 0rem;
      }
    }
  }
}

.views {
  background-color: #FBFBFB;
}
