// (c) Waveybits Inc. <2021>
// ALL RIGHTS RESERVED
@import '../../scss/variables.scss';


.profile-bio {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  column-gap: 8rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 2rem;
  box-shadow: 1px 5px 12px 0px rgba(50, 50, 50, 0.18);
  .user-profile {
    text-align: center;
    img {
      width: 12rem;
      height: 12rem;
      padding: 10px;
      background: #e4dddd;
      border: 0.125rem solid #dddddd;
    }
    h4 {
      font-family: inherit;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    .btn {
      background-color: green;
      color: white;
      font-size: 1.125rem;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      border: none;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .user-info {
    height: 250px;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: minmax(200px, 300px);
    gap: 1rem;

    h3 {
      margin-top: 0;
    }
    .btn {
      background-color: green;
      color: white;
      font-size: 1.125rem;
      padding: 0.25rem 1rem;
      border-radius: 0.5rem;
      border: none;
      margin-top: 1.5rem;
      cursor: pointer;
    }

    &_rating {
      ul {
        padding: 0;
      }
      ul li {
        list-style-type: none;
        display: inline;
      }
    }

    .user-bio {
      grid-column: 1 / 3;
      p {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }

    .user-portfolio {
      margin-top: 3rem;
      h3 {
        font-size: 1.75rem;
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        text-transform: none;
        margin-bottom: 2rem;
      }
      img {
        width: 200px;
      }
      &_images {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
      }
    }
  }
}
@media (min-width: 1700px)  {
  .main {
    justify-content: center;
    margin: 0 auto;
  }
}
