.create-project {
  margin-top: 4rem;
  &_content {
    width: 80%;
    background-color: $content-background;
    border: 1px solid $border-default;
    padding: 1rem 0;
    border-radius: .3rem;
    position: relative;
    margin: 0 auto 2rem;
    text-align: center;
    padding: 4rem 0;

    &_icon {
      position: absolute;
      top: -4.5rem;
      left: 2%;
      z-index: 2;
      font-size: 5rem;
      opacity: .8;
      color: $btn-default;
      padding: 1.5rem;
      border-radius: 50%;
    }

    &-grid, &-block {
      display: grid;
      width: 80%;
      margin: 1rem auto;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 6rem;

      .fields {
        width: 100%;
        .field {
          width: 100%;
          height: max-content;
          margin: 2rem 0;
          text-align: left;
          label, h3 {
            font-family: inherit;
            color: $text;
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
          }
          &.active {
            background-color: transparent;
          }
          &_input, textarea {
            width: calc(100% - 1rem);
            display: block;
            margin: .5rem 0;
            border: 1px solid $element-dropdown-border;
            border-radius: .25rem;
            padding: .5rem;
            outline:none;
            transition: .3s;
            &:focus {
              border: 1px solid lighten($button-tri, 30);
            }
          }

          &_dropdown, &_switch {
            width: 100%;
            margin: .5rem 0;
            input {
              // border: 1px solid $button-tri;
              border-radius: .25rem;
              height: 2.125rem !important;
              padding: .5rem;
              &:focus {
                border: 1px solid lighten($button-tri, 30);
              }
            }
          }

          textarea {
            resize: vertical;
          }

        }

        .switches {
          display: flex;
          flex-wrap: wrap;
          margin: 2rem auto;

          .field {
            width: max-content;
            margin: 0 2rem 2rem 0;
            display: flex;
            // flex-direction: column;
            align-items: center;

            &:last-child {
              margin-right: 0;
            }

            &_switch {
              width: auto;
              margin: 0 0 0 .5rem;
            }

            &.featured {
              &.disabled {
                pointer-events: none;
                h3 {
                  color: $btn-grey;
                }
              }
            }
          }
        }

        .add-position {
          &_adding {
            background-color: white;
            padding: 1rem;
            border-radius: .25rem;
            margin: .5rem 0;
            &-grid {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              justify-content: flex-start;
              align-items: center;
              grid-gap: 1rem;
            }
            &_role {
              .add-position-dropdown {
                margin-top: 0;
              }
            }
            &_skills, &_skills-added {
              &_input {
                position: relative;
                border: 1px solid $element-dropdown-border;
                border-radius: .25rem;
                margin: .5rem 0;
                padding: .5rem;
                transition: .3s;
                input {
                  border: none;
                  width: calc(100% - 1rem);
                  display: block;
                  outline:none;
                  transition: .3s;
                }
                &-icon {
                  position: absolute;
                  top: 50%;
                  right: 0rem;
                  transform: translate(-50%, -50%);
                  cursor: pointer;
                  transition: .3s;
                  &.disabled {
                    color: $element-dropdown-border;
                    pointer-events: none;
                  }
                }
              }
            }
            &_skills-added {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap;
              &_input {
                margin: 0 .5rem;
                margin-left: 0;
                margin-bottom: .5rem;
                width: 5.5rem;
                input {
                  width: auto;
                  max-width: 4rem;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
            .add-position-button {
              font-family: 'Montserrat';
              font-size: .8rem;
              font-weight: 500;
              background-color: $button-tri;
              color: white;
              border-radius: .25rem;
              border: none;
              outline: none;
              padding: .5rem 1rem;
              width: 100%;
              margin: .5rem auto;
              margin-bottom: 0;
              cursor: pointer;
              &.disabled {
                pointer-events: none;
                background-color: $btn-grey;
              }
            }
          }
          &_added {
            background-color: white;
            padding: 1rem;
            border-radius: .25rem;
            margin: .5rem 0;
            &_positions {
              margin-bottom: 0;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap;
            }
            &_position {
              margin: .75rem 0 0 0;
              margin-right: 1rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              border: 1px solid $element-dropdown-border;
              border-radius: .25rem;
              padding: .5rem;
              width: max-content;
              transition: .3s;
              p {
                width: auto;
                margin: 0;
                font-size: .9rem;
              }
              h6 {
                font-size: 1rem;
                margin: 0 .5rem;
              }
              &-delete-icon {
                margin-left: .5rem;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &-block {
      display: block;
      text-align: left;
      h3 {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5rem;
      }
      .filter-search {
        width: 100%;
        margin: .5rem auto;
      }
      .total-cards-checked {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin-left: .5rem;
        background-color: $btn-default;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        span {
          margin: 0;
          line-height: 1.5rem;
          color: white
        }
      }
      .cards {
        display: grid;
        margin: .5rem 0;
        position: relative;
      }
      .no-cards {
        padding-bottom: 4rem;
        &_no-cards {
          width: 100%;
          position: absolute;
          top: .25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          h1 {
            margin-right: 1rem;
          }
          .icon {
            font-size: 2rem;
          }
        }
      }
      .cards-pagination {
        width: max-content;
        margin: 3rem auto 0 auto;
      }
    }
  }

  .create-button {

    &_container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    background-color: $button-tri;
    color: white;
    border-radius: .25rem;
    border: none;
    outline: none;
    padding: .5rem 1.5rem;
    width: max-content;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
